.footer {
  @extend %flex-centered-items-space-btw;
  flex-direction: column;
  height: auto;
  padding: 40px 0;
  gap: 15px;

  @include media-tablet-portrait {
    padding: 30px 0;
    line-height: 1.5rem;
  }
}

.copyright {
  @extend %flex-centered-items-space-btw;
  width: auto;
  padding-right: 0;
  gap: 5px;

  >small {
    font: inherit;
  }

  @include media-tablet-portrait {
    width: auto;
    margin: 0 auto;
  }
}

.credits {
  text-align: center;
}

.social-links {
  @extend %flex-centered-items-space-btw;
  width: 100px;

  @include media-tablet-portrait {
    margin: 0 auto;
  }
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  @extend %transition;
}

.instagram-link {
  @include mask("../assets/svg/instagram-white.svg");
}

.facebook-link {
  @include mask("../assets/svg/facebook-white.svg");
}

.twitter-link {
  @include mask("../assets/svg/twitter-white.svg");
}

.pinterest-link {
  @include mask("../assets/svg/pinterest-white.svg");
}

.social-link-light {
  background-color: $text-light-theme-color;
}
